.loader-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;

    &.page{
        position: absolute;
        .loader-img{
            max-height: 143px;
        }
    }

    &.infinite-scroll{
        .loader-img{
            max-height: 143px;
        }
    }
}