@import '../utilities/colors.scss';

.pokemonTile{
    position: relative;
    z-index: 20;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
    border: 1px solid black;
    width: 160px;
    height: 160px;
    margin: 10px;
    text-align: center;
    border-radius: 10px;
    overflow: hidden;

    @media (max-width: 959px) {
        width: 150px;
        height: 150px;
    }

    @each $key,$val in $colors-list{
        &.primary-#{$key} {
            &::before{
                content: "";
                display: block;
                position: absolute;
                z-index: 5;
                top: 0;
                width: 158px;
                height: 158px;
                height: 100%;
                background-image: -webkit-linear-gradient(45deg, #{$val} 50%, transparent 50%);
            }
        }
        &.secondary-#{$key} {
            &::after{
                content: "";
                display: block;
                position: absolute;
                z-index: 5;
                top: 0;
                width: 158px;
                height: 158px;
                background-image: -webkit-linear-gradient(45deg, transparent 50%, #{$val} 50%);
            }
        }
        &.solid-#{$key} {
            background-color: #{$val};
        }
    }
    a{
        z-index: 100;
        left: 0;
        top: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        text-decoration: none;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
        .pokemon-name{
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            text-transform: capitalize;
            display: flex;
            height: fit-content;
            align-self: flex-end;
            width: 100%;
            text-align: center;
            justify-content: center;
            position: absolute;
        }

        img{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            height: fit-content;
            align-self: center;
            transition: transform 0.26s ease;
        }

        &:hover{
            img{
                transition: all 0.3s;
                transform: scale(1.1);
            }
        }
    }
}