.pokedex-image{
    max-width: 250px;
    //TODO Add color based on type
    border-radius: 50%;
    padding: 45px;
    border: 1px solid black;
    img{
        width: 100%;
    }
}

$colors-list:(
    normal: #A8A878,
    fire: #F08030,
    fighting: #C03028,
    water: #6890F0,
    grass: #78C850,
    poison: #A040A0,
    electric: #F8D030,
    ground: #E0C068,
    rock: #B8A038,
    bug: #A8B820,
    dragon: #7038F8,
    ghost: #705898,
    dark: #705848,
    fairy: #EE99AC,
    steel: #B8B8D0,
    psychic: #F85888,
    ice: #98D8D8,
    flying: #A890F0,
);

@each $key,$val in $colors-list{
    &.badge-#{$key} {
        background-color: $val;
    }
}

.pokemon-header{
    display: flex;
    align-items: center;
    text-transform: capitalize;
    margin-bottom: 8px;

    .badge{
        margin-left: 1rem;
    }
}

.badge{
    display: inline-block;
    border-radius: 7px;
    font-size: 1rem;
    padding: 4px 8px;
    text-transform: capitalize;
    color: white;
}